@import "tailwindcss";

*{
  font-family: Outfit;
}

button{
  cursor: pointer;
}

select, input, textarea {
  border: 1px solid #C2C2C2;
  outline-color: #C586A5;
  border-radius: 4px;
}

.active{
  background-color: #ffebf5;
  color: #C586A5;
}
